html, body {
    height: 98%;
    margin: 0;
}

body {
    background-image: url('fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#nave img {
    width: 80px;
    height: auto;
}

#tierra {
    position: absolute;
    bottom: 0;
    left: 0;
}

#tierra img {
    width: 200px;
    height: auto;
}

#luna {
    position: absolute;
    top: 20%;
    right: 0;
}

#luna img {
    width: 220px;
    height: auto;
    bottom: 3%;
}

#asteroide1, #asteroide2, #asteroide3 {
    position: absolute;
}

#asteroide1 img {
    width: 70px;
    height: auto;
}
#asteroide2 img {
    width: 90px;
    height: auto;
}
#asteroide3 img {
    width: 110px;
    height: auto;
}

#asteroide1 {
    top: 100px;
    left: 100px;
}

#asteroide2 {
    top: 200px;
    left: 200px;
}

#asteroide3 {
    top: 300px;
    left: 300px;
}

.datos {
    position: absolute;
    right: 3%;
    bottom: 0;
    color: white;
    z-index: 10;
}
